# Series

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.4'

In [14]:
data = pd.Series([.25,.5,.75,1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[1]

0.5

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [18]:
data = pd.Series([.25,.5,.76,.1],index = list('abcd'))
data

a    0.25
b    0.50
c    0.76
d    0.10
dtype: float64

In [23]:
'a' in data

True

In [32]:
data

a    0.25
b    0.50
c    0.76
d    0.10
dtype: float64

In [31]:
data.item

<bound method IndexOpsMixin.item of a    0.25
b    0.50
c    0.76
d    0.10
dtype: float64>

In [27]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.76), ('d', 0.1)]

In [48]:
data = pd.Series({'a':1,'b':2,'c':3,'d':4})
data

a    1
b    2
c    3
d    4
dtype: int64

In [45]:
data[(data>1) & (data<3)]

b    2
dtype: int64

In [43]:
data['e','a'] = 6 ## 可执行
data['e','a']  ## 报错
data[['e','a']] ## 正确

In [46]:
data.iloc[1]

2

In [49]:
data.iloc[1:3]

b    2
c    3
dtype: int64

In [51]:
data.loc['b']
data.loc['b':'d']

b    2
c    3
d    4
dtype: int64

In [36]:
data['b':'e'] ##不同
data[1:3]

b    2
c    3
e    5
dtype: int64

# DataFrame

In [79]:

area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [60]:
data.columns

Index(['area', 'pop'], dtype='object')

In [80]:
data.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [81]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pd.DataFrame(area,columns=['population'])

            population
California      423967
Texas           695662
New York        141297
Florida         170312
Illinois        149995

In [82]:
data = [{'a':i,'b':i*i} for i in range(3)]
pd.DataFrame(data,columns=list('ab'))

   a  b
0  0  0
1  1  1
2  2  4

In [57]:
type(data[['area']])

pandas.core.frame.DataFrame

In [58]:
type(data['area'])

pandas.core.series.Series

In [78]:
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 1}, {'a': 2, 'b': 4}]

In [62]:
# !! np中data[0]是首行，pd中data['are']是列,data[0]是首行

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

## index对象

In [74]:
ind = pd.Index([2,3,3,4])
ind

Int64Index([2, 3, 3, 4], dtype='int64')

In [77]:
ind[0]
ind[1:3]
ind[1]=1

TypeError: Index does not support mutable operations